.idea

Networkdev/.vscode/*
Networkdev/bin/*
Networkdev/build/*

GameServerDev/Client/.vscode/*
GameServerDev/Client/bin/*
GameServerDev/Client/build/*

GameServerDev/LoginServer/.vscode/*
GameServerDev/LoginServer/bin/*
GameServerDev/LoginServer/build/*

GameServerDev/GateServer/.vscode/*
GameServerDev/GateServer/bin/*
GameServerDev/GateServer/build/*

GameServerDev/GameServer/.vscode/*
GameServerDev/GameServer/bin/*
GameServerDev/GameServer/build/*

GameServerDev/DBServer/.vscode/*
GameServerDev/DBServer/bin/*
GameServerDev/DBServer/build/*

